<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <script src="codemirror.js"></script>
    <link rel="stylesheet" href="codemirror.css">
    <script src="mode-javascript.js"></script>
</head>
<body>
    <div id="content">{{contents}}</div>
    <div id="answer">
        <div id="input"></div>
        <button id="run">Run</button>
    </div>
    <script src="index.js"></script>
</body>
</html>